*{
    font-family: Arial, sans-serif;
    font-size: 14px;
}
body,html{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.main-nav{
    display: flex;
    justify-content: space-between;
}
.left-nav, .right-nav{
    display: flex;
    padding: 2px 15px;
    align-items: center;
    position: relative;
}
.left-nav a, .right-nav a{
    margin: 0 10px 0 10px;
    text-decoration: none;
    color:#6c6c6c;
}
.left-nav a:hover, .right-nav a:hover{
    text-decoration: underline;
}
.nav-menu-icon{
    height: 23px;
    margin: 3px;
    margin-right: 13px;
}
.nav-menu-icon:hover{
    cursor: pointer;
}
.nav-user{
    height: 32px;
    border-radius: 50%;
    margin: 5px;
}
.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google-icon{
    position: absolute;
    height: 6.6rem;
    top: 11.1rem;
}
.google-search{
    position: absolute;
    top: 19.6rem;
    height: 3rem;
    border: 1px solid #0000001c;
    width: 38.1rem;
    border-radius: 5rem;
}
.google-search-input{
    width: 32.1rem;
    height: 100%;
    border-radius: 5rem;
    border: none;
    background-color: transparent;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.2rem;
}
.google-search-input:focus{
    outline: none;
}
.google-search:hover{
    box-shadow: 0px 0px 2px 2px #e7e7e7;
}
.google-search:focus{
    outline: none;
}
.google-search-icon{
    position: absolute;
    top: 0.9rem;
    left: 1rem;
    width: 1.4rem;
}
.google-voice-search-icon{
    width: 1rem;
    top: 0.8rem;
    right: 1.3rem;
    position: absolute;
}
.google-voice-search-icon:hover{
    cursor: pointer;
}
.google-search-buttons{
    position: absolute;
    top: 24.7rem;
    display: flex;
}
.google-search-button{
    padding: 0rem 1.2rem 0rem 1.2rem;
    left: 36rem;
    height: 2.6rem;
    margin: 0.3rem;
    background-color: #F8F9FA;
    border: none;
    border-radius: 4px;
}
.google-search-button:hover{
    cursor: pointer;
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 0px 1px #e6e6e6;
}
.google-lucky-button{
    padding: 0rem 1.2rem 0rem 1.2rem;
    right: 37rem;
    height: 2.6rem;
    margin: 0.3rem;
    background-color: #F8F9FA;
    border: none;
    border-radius: 4px;
}
.google-lucky-button:hover{
    cursor: pointer;
    border: 1px solid rgb(206, 206, 206);
    box-shadow: 0px 1px #e6e6e6;
}
.google-search-button:focus{
    outline: none;
}
.google-lucky-button:focus{
    outline: none;
}
.google-translate{
    position: absolute;
    top: 28.9rem;
    font-size: small;
}
.google-language{
    text-decoration: none;
    font-size: small;
}
.google-language:hover{
    text-decoration: underline;
}
.top-foot{
    display: flex;
    justify-content: space-between;
}
.top-foot-content{
    position: absolute;
    left: 0;
    bottom: 0;
    bottom: 38.5px;
    width: 100%;
    height: 1.4rem;
    padding: 11px 10px;
    background-color: #F2F2F2;
    border: 1px solid #DADCE0;
    color: #6F6F6F;
    z-index: 1;
}
.google-country{
    font-size: 15px;
    margin-left: 20px;
}
.bottom-foot{
    display: flex;
    justify-content: space-between;
}
.bottom-foot-content{
    position: absolute;
    min-height: 1rem;
    padding: 12px 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 11px 10px;
    background-color: #F2F2F2;
    border: 1px solid #DADCE0;
    color: #6F6F6F;
    z-index: 1;
}
.bottom-foot-content-main{
    display: flex;
    justify-content: space-between;
}
.bottom-foot-left{
    margin-left: 9px;
}
.bottom-foot-right{
    margin-right: 24px;
}
.bottom-foot-left, .bottom-foot-right{
    display: flex;
    align-items: center;
    position: relative;
}
.bottom-foot-left a, .bottom-foot-right a{
    margin: 0 17px 0 10px;
    text-decoration: none;
    color:#6c6c6c;
}
.bottom-foot-left a:hover, .bottom-foot-right a:hover{
    text-decoration: underline;
}
@media (max-width: 804px){
    .bottom-foot-content-main{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .top-foot-content{
        position: fixed;
        left: 0;
        bottom: 78.5px;
        width: 100%;
        height: 1.4rem;
        padding: 11px 10px;
        background-color: #F2F2F2;
        border: 1px solid #DADCE0;
        color: #6F6F6F;
        z-index: 1;
    }
    .bottom-foot-content{
        min-height: 57px;
        max-height: 59px;
        padding: 12px 10px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 11px 10px;
        background-color: #F2F2F2;
        border: 1px solid #DADCE0;
        color: #6F6F6F;
        z-index: 1;
    }
    .bottom-foot-left{
        margin-left: 0;
        margin-right: 20px;
        margin-top: 25px;
    }
    .bottom-foot-left a, .bottom-foot-right a{
        margin: 0 10px 0 10px;
    }
}
@media (max-width: 687px){
    .google-search{
        width: 78%;
    }
    .google-search-input{
        width: calc(100% - 6rem);
        height: 100%;
        border-radius: 5rem;
        border: none;
        background-color: transparent;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.2rem;
    }
}
@media (max-width: 330px){
    .google-search-buttons{
        flex-direction: column;
    }
    .google-translate{
        top: 31rem;
    }
}